.table-content {
    &__outer {
        padding: 80px 20px 20px 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10;
    position: relative;

    min-width: 1750px;
}

#select-new-data {
    position: absolute;
    top: -60px;
    right: 0;
}
