$primary: #6346b4;
$primary-hover: #a88ef0;
$primary-active: #311f63;
$primary-text: #ffffff;
$primary-background: #cbcbcb;

$secondary-background: #fff;
$secondary-hover: #fff;
$secondary-active: #cbcbcb;
$secondary-text: #000;

$error-primary: #ff6565;
$error-primary-text: #fff;
$error-primary-hover: #ef4555;
